body {
    font-family: system-ui, 'Arial', sans-serif;
}
.imagen {
    background-color: rgba(192, 192, 192, 0.473);
}
button {
    padding: 10px 12px;
    border: 1px solid #d8dbe6;
    border-radius: 8px;
    background: #275a9c;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}
.boton2 {
    padding: 10px 12px;
    border: 1px solid #d8dbe6;
    border-radius: 8px;
    background: #991515;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}
header {
    margin-top: 15px;
    margin-left: 15px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
    font-weight: 500;
}
.resumen {
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;

}
.parte2 {
    border-radius: 30%;
}
.top {
    background-color: gray;
}